In [118]:
df2 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]],columns=['a','b','c'], index=[1,2,3,4,5])
df2

    a   b   c
1   1   2   3
2   4   5   6
3   7   8   9
4  10  11  12
5  13  14  15

In [117]:
df2['a'][df2['b']>3]

2     4
3     7
4    10
5    13
Name: a, dtype: int64

In [115]:
df2

    a   b   c
1   1   2   3
2   4   5   6
3   7   8   9
4  10  11  12
5  13  14  15

In [100]:
x=list(df2['a'].loc[df2["b"]>10])


print(x)

[10, 13]