In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import quantile_transform
from sklearn.preprocessing import minmax_scale
from sklearn.preprocessing import OneHotEncoder  ##. better to use dummy from pandas 
from sklearn.preprocessing import PowerTransformer
from scipy.stats import boxcox
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from scipy.stats import boxcox
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
pd.options.display.max_rows = 50
import qgrid
import glob

In [41]:
####1. Load relevant csv files. 

# Update folder_path to grab all csv files in folder
folder_path = r'C:\Users\MichaelTaylo_c9zoof3\Documents\GitHub\Ironhack-Labs\People Analytics\Data'
df_list=load_csv_dataframes(folder_path)


####2. Clean and standardize data
for i in df_list:
    
    # Lowercase columns
    i.columns=col_lowercase(i)
    
    # Lowercase string values
    i.update(string_lowercase(i))
    
    # Removes blank rows and duplicate records
    drop_duplicates_and_blank_lines(i)

####3. Merge files

# Check which columns are inconsistent across files
print(list_unique_columns(df_list))

#

{1: ['state'], 2: ['state'], 3: ['st']}

KeyboardInterrupt

# Prepare environment

## Imports and load libraries

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import quantile_transform
from sklearn.preprocessing import minmax_scale
from sklearn.preprocessing import OneHotEncoder  ##. better to use dummy from pandas 
from sklearn.preprocessing import PowerTransformer
from scipy.stats import boxcox
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from scipy.stats import boxcox
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
pd.options.display.max_rows = 50
import qgrid
import glob

## Load relevant dataframe from file

In [21]:
def load_csv_dataframes(path):
    all_files = glob.glob(path + "/*.csv")
    dataframes_list=[]
    file_count=len(all_files)
    for i in range(file_count):
        temp_df = pd.read_csv(all_files[i])
        dataframes_list.append(temp_df)

    return dataframes_list

# Quick clean and standardizing data (e.g. lowercase titles)

## Lowercase column names

In [22]:
def col_lowercase(df):
    '''Takes one value, dataframe, and changes all columns to lowercase
    For easy comparison and merging of multiple dataframes'''
    df_temp = [i.lower() for i in df.columns]
    return df_temp

## Lowercase all string values in file

In [23]:
def string_lowercase(df):
    '''Takes one value, dataframe, and changes all values that are strings to all lowercase
    For easy identification of discrete values and for merging of dataframes'''
    df=df.applymap(lambda x:x.lower() if type(x) == str else x)
    return df

## Removing duplicate records

In [24]:
def drop_duplicates_and_blank_lines(df):
    #Removes duplicates if entire row is the same
    df.drop_duplicates(inplace=True)
    #Removes rows if they are completely blank
    df.dropna(how="all",axis=0, inplace=True)
    return df

# Merging files

## Check files for unique columns

In [39]:
def list_unique_columns(df_list):
    #Gather column names from all files in a list

    all_col_names=[]
    temp_col_names=[]
    unmatched_col_names=[]
    unmatched_col_dict={}

    for i in df_list:
        [all_col_names.append(col) for col in i.columns]


    #Remove duplicates to create a unique set of column names
    unique_col_names=list(set(all_col_names))

    #Check which files are missing which column names. Place these in a dictionary with key of file number.
    file_num=1
    for x in df_list:
        [temp_col_names.append(col) for col in x.columns]
        [unmatched_col_names.append(y) for y in unique_col_names if y not in temp_col_names]        
        unmatched_col_dict[file_num]=unmatched_col_names
        unmatched_col_names=[]
        temp_col_names=[]
        file_num+=1

    return unmatched_col_dict

## Space to do renaming of columns <font color='red'>(Need input)

In [26]:
#If quick renaming of fles, can use the dictionary form. Change ##df## to dataframe name.
for i in file_list:
    i.rename(columns={"st":"state",},inplace=True)

In [27]:
#If need more complex format, then can use a zip instead. Change ##df## to dataframe name.
old_names={'a','b','c'}
new_names={'x','y','z'}
zip_file=zip(old_names,new_names)

for i in file_list:
    i.rename(columns=zip_file,inplace=True)

TypeError: 'zip' object is not callable

## Merging of files

In [28]:
df=pd.concat(file_list,axis=0,ignore_index=True)

# Replace missing values

## Replace missing numbers with mean

In [29]:
# This creates a list ## integers_with_nan ## which is a list of numerical columns with blanks in them.  
#The next parts will give you options for how to handle the blanks

col_list=[]
col_list=df.columns
integers_with_nan=[]
for i in col_list:
    if df[i].isnull().values.any()==True:
        if df[i].dtype!='O':
            integers_with_nan.append(i)

In [30]:
#Fill missing numbers with the average of the column
for j in integers_with_nan:
    temp_mean=np.mean(df[j])
    df[j]=df[j].fillna(temp_mean)

# Review data

## Check data types and blanks

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54877 entries, 0 to 54876
Data columns (total 52 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     54877 non-null  float64
 1   Customer                       20047 non-null  object
 2   State                          17349 non-null  object
 3   Customer Lifetime Value        20040 non-null  object
 4   Response                       10279 non-null  object
 5   Coverage                       10910 non-null  object
 6   Education                      20047 non-null  object
 7   Effective To Date              10910 non-null  object
 8   EmploymentStatus               10910 non-null  object
 9   Gender                         17980 non-null  object
 10  Income                         54877 non-null  float64
 11  Location Code                  10910 non-null  object
 12  Marital Status                 10910 non-null  object
 13  Monthly Premium Auto           54877 non-null  float64
 14  Months Since Last Claim        54877 non-null  float64
 15  Months Since Policy Inception  54877 non-null  float64
 16  Number of Open Complaints      19414 non-null  object
 17  Number of Policies             54877 non-null  float64
 18  Policy Type                    20047 non-null  object
 19  Policy                         10910 non-null  object
 20  Renew Offer Type               10910 non-null  object
 21  Sales Channel                  10910 non-null  object
 22  Total Claim Amount             54877 non-null  float64
 23  Vehicle Class                  19425 non-null  object
 24  Vehicle Size                   10288 non-null  object
 25  Vehicle Type                   5428 non-null   object
 26  region                         31893 non-null  object
 27  customer_lifetime_value        54877 non-null  float64
 28  response                       31893 non-null  object
 29  coverage                       31893 non-null  object
 30  education                      31893 non-null  object
 31  effective_to_date              31893 non-null  object
 32  month                          10689 non-null  object
 33  employment_status              31893 non-null  object
 34  gender                         31893 non-null  object
 35  income                         54877 non-null  float64
 36  location_code                  31893 non-null  object
 37  marital_status                 31893 non-null  object
 38  monthly_premium_auto           54877 non-null  float64
 39  months_since_last_claim        54877 non-null  float64
 40  months_since_policy_inception  54877 non-null  float64
 41  number_of_open_complaints      54877 non-null  float64
 42  number_of_policies             54877 non-null  float64
 43  policy_type                    31893 non-null  object
 44  policy                         31893 non-null  object
 45  renew_offer_type               31893 non-null  object
 46  sales_channel                  31893 non-null  object
 47  total_claim_amount             54877 non-null  float64
 48  vehicle_class                  31893 non-null  object
 49  vehicle_size                   31893 non-null  object
 50  ST                             2067 non-null   object
 51  GENDER                         1945 non-null   object
dtypes: float64(15), object(37)
memory usage: 21.8+ MB

## Eyeball check data for issues

In [32]:
qgrid.show_grid(df,grid_options={'forceFitColumns': False})

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': False, 'defa…

# Fix categorical values

## Check categorical columns for misspellings or issues

In [33]:
# Creates a copy of the dataframe for string-based columns only.  
# Then, creates a dictionary of the column (key) plus array of values (value) to show the results
categorical_df=df.select_dtypes(object)
unique_dict={col: categorical_df[col].unique() for col in categorical_df}
unique_dict

{'Customer': array(['DK49336', 'KX64629', 'LZ68649', ..., 'TL39050', 'WA60547', nan],
       dtype=object),
 'State': array(['Arizona', 'California', 'Washington', 'Oregon', nan, 'Nevada'],
       dtype=object),
 'Customer Lifetime Value': array([4809.21696, 2228.525238, 14947.9173, ..., '568964.41%',
        '368672.38%', '399258.39%'], dtype=object),
 'Response': array(['No', 'Yes', nan], dtype=object),
 'Coverage': array(['Basic', 'Extended', 'Premium', nan], dtype=object),
 'Education': array(['College', 'Bachelor', 'High School or Below', 'Doctor', 'Master',
        nan, 'Bachelors'], dtype=object),
 'Effective To Date': array(['2/18/11', '1/18/11', '2/10/11', '1/11/11', '1/17/11', '2/14/11',
        '2/24/11', '1/19/11', '1/4/11', '1/2/11', '2/7/11', '1/31/11',
        '1/26/11', '2/28/11', '1/16/11', '2/26/11', '2/23/11', '1/15/11',
        '2/2/11', '2/15/11', '1/24/11', '2/21/11', '2/22/11', '1/7/11',
        '1/28/11', '2/8/11', '2/12/11', '2/20/11', '1/5/11', '2/19/11',
        '1/3/11', '2/3/11', '1/22/11', '1/23/11', '2/5/11', '2/13/11',
        '1/25/11', '2/16/11', '2/1/11', '1/27/11', '1/12/11', '1/20/11',
        '2/6/11', '2/11/11', '1/21/11', '1/29/11', '1/9/11', '2/9/11',
        '2/27/11', '1/1/11', '2/17/11', '2/25/11', '1/13/11', '1/6/11',
        '2/4/11', '1/14/11', '1/10/11', '1/8/11', '1/30/11', nan],
       dtype=object),
 'EmploymentStatus': array(['Employed', 'Unemployed', 'Medical Leave', 'Disabled', 'Retired',
        nan], dtype=object),
 'Gender': array(['M', 'F', nan], dtype=object),
 'Location Code': array(['Suburban', 'Urban', 'Rural', nan], dtype=object),
 'Marital Status': array(['Married', 'Single', 'Divorced', nan], dtype=object),
 'Number of Open Complaints': array([0.0, nan, 3.0, 1.0, 2.0, 4.0, 5.0, '1/0/00', '1/2/00', '1/1/00',
        '1/3/00', '1/5/00', '1/4/00'], dtype=object),
 'Policy Type': array(['Corporate Auto', 'Personal Auto', 'Special Auto', nan],
       dtype=object),
 'Policy': array(['Corporate L3', 'Personal L3', 'Personal L2', 'Corporate L2',
        'Personal L1', 'Special L1', 'Corporate L1', 'Special L3',
        'Special L2', nan], dtype=object),
 'Renew Offer Type': array(['Offer3', 'Offer4', 'Offer2', 'Offer1', nan], dtype=object),
 'Sales Channel': array(['Agent', 'Call Center', 'Branch', 'Web', nan], dtype=object),
 'Vehicle Class': array(['Four-Door Car', 'SUV', 'Two-Door Car', 'Sports Car', 'Luxury Car',
        'Luxury SUV', nan], dtype=object),
 'Vehicle Size': array(['Medsize', 'Small', 'Large', nan], dtype=object),
 'Vehicle Type': array([nan, 'A'], dtype=object),
 'region': array([nan, 'central', 'west region', 'east', 'north west', 'arizona',
        'california', 'washington', 'oregon', 'nevada'], dtype=object),
 'response': array([nan, 'no', 'yes'], dtype=object),
 'coverage': array([nan, 'basic', 'extended', 'premium'], dtype=object),
 'education': array([nan, 'college', 'bachelor', 'high school or below', 'doctor',
        'master'], dtype=object),
 'effective_to_date': array([nan, '2/18/11', '1/18/11', '2/10/11', '1/11/11', '1/17/11',
        '2/14/11', '2/24/11', '1/19/11', '1/4/11', '1/2/11', '2/7/11',
        '1/31/11', '1/26/11', '2/28/11', '1/16/11', '2/26/11', '2/23/11',
        '1/15/11', '2/2/11', '2/15/11', '1/24/11', '2/21/11', '2/22/11',
        '1/7/11', '1/28/11', '2/8/11', '2/12/11', '2/20/11', '1/5/11',
        '2/19/11', '1/3/11', '2/3/11', '1/22/11', '1/23/11', '2/5/11',
        '2/13/11', '1/25/11', '2/16/11', '2/1/11', '1/27/11', '1/12/11',
        '1/20/11', '2/6/11', '2/11/11', '1/21/11', '1/29/11', '1/9/11',
        '2/9/11', '2/27/11', '1/1/11', '2/17/11', '2/25/11', '1/13/11',
        '1/6/11', '2/4/11', '1/14/11', '1/10/11', '1/8/11', '1/30/11'],
       dtype=object),
 'month': array([nan, 'feb', 'jan'], dtype=object),
 'employment_status': array([nan, 'employed', 'unemployed', 'medical leave', 'disabled',
        'retired'], dtype=object),
 'gender': array([nan, 'm', 'f'], dtype=object),
 'location_code': array([nan, 'suburban', 'urban', 'rural'], dtype=object),
 'marital_status': array([nan, 'married', 'single', 'divorced'], dtype=object),
 'policy_type': array([nan, 'corporate auto', 'personal auto', 'special auto'],
       dtype=object),
 'policy': array([nan, 'corporate l3', 'personal l3', 'personal l2', 'corporate l2',
        'personal l1', 'special l1', 'corporate l1', 'special l3',
        'special l2'], dtype=object),
 'renew_offer_type': array([nan, 'offer3', 'offer4', 'offer2', 'offer1'], dtype=object),
 'sales_channel': array([nan, 'agent', 'call center', 'branch', 'web'], dtype=object),
 'vehicle_class': array([nan, 'four-door car', 'suv', 'two-door car', 'sports car',
        'luxury car', 'luxury suv'], dtype=object),
 'vehicle_size': array([nan, 'medsize', 'small', 'large'], dtype=object),
 'ST': array([nan, 'Washington', 'Arizona', 'Nevada', 'California', 'Oregon',
        'Cali', 'AZ', 'WA'], dtype=object),
 'GENDER': array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)}

## Fix categorical values by replacing values with new ones

### Replace a list of terms with one standard version <font color='red'>(Need input)

In [34]:
#Fill in 'a' below

# Creates a dictionary ##a## of values to correct.  
# Outer dictionary is the column to correct
# Inner dictionary key is the correct spelling, then list (dictionary value) is the incorrect spellings to find and replace

a={
    'sex':
        {'female':['f','femal'],
        'male':['male','m']}
}


#This code will run through the dictionary a and update string values in the dataframe
#Using the new string values
for key in a.keys():
    for key2 in a[key].keys():
        list_values=a[key][key2]
        df.loc[df[str(key)].isin(list_values),key]=str(key2)

KeyError: 'sex'

### Replace terms 1:1 with an alternative

In [35]:
#Fill in these three with correct values, then run to update a column with new values.
original_version=['f','m']          #List in order of terms in column to change
new_version=['female','male']       #List in order of original version list of new terms to use
column_name='gender'                #Column name to use in action

replace_map=dict(zip(original_version,new_version))

df[column_name].replace(replace_map,inplace=True)