The null hypothesis is that the mean systolic blood pressure = 120 mm Hg

The alternative hypothesis is that the mean systolic blood pressure <> 120 mm Hg

A sample was taken of n=100 people, with mean 130.1mm Hg and stdev of 21.21mm Hg.

Since only the stdev of the sample is known, a two-tailed t-test is appropriate for testing this.

We have a critical value of 1.660 given n=100 and df=49.

t= (sample_mean - pop_mean) / (sample_stdev/sqrt(n))

In [2]:
x_bar=130.1
mu=120
s=21.21
n=100

In [6]:
import math
t=(x_bar-mu)/(s/math.sqrt(n))

In [7]:
t

4.761904761904759

With t=4.761, we can reject the null hypothesis

# Machine task

In [12]:
import pandas as pd
df=pd.DataFrame({'old_machine':[42.7,43.6,43.8,43.3,42.5,43.5,43.1,41.7,44,44.1],'new_machine':[42.1,41,41.3,41.8,42.4,42.8,43.2,42.3,41.8,42.7]})

In [13]:
df

   old_machine  new_machine
0         42.7         42.1
1         43.6         41.0
2         43.8         41.3
3         43.3         41.8
4         42.5         42.4
5         43.5         42.8
6         43.1         43.2
7         41.7         42.3
8         44.0         41.8
9         44.1         42.7

In [29]:
import math

x_bar=df.new_machine.mean()
mu=df.old_machine.mean()
s=df.new_machine.std()
n=10

t=(x_bar-mu)/(s/math.sqrt(n))
t

4.5965245498274845

In [34]:
from scipy.stats import ttest_ind
ttest_ind(df['old_machine'], df['new_machine'])

Ttest_indResult(statistic=3.3972307061176026, pvalue=0.0032111425007745158)

There is a significant difference between the two based on this sample given the value is past the critical threshold of 2.228