# Prepare environment

## Imports and load libraries

In [195]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import quantile_transform
from sklearn.preprocessing import minmax_scale
from sklearn.preprocessing import OneHotEncoder  ##. better to use dummy from pandas 
from sklearn.preprocessing import PowerTransformer
from scipy.stats import boxcox
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from scipy.stats import boxcox
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
pd.options.display.max_rows = 50
import qgrid

## Load relevant dataframe from file

In [196]:
df=pd.read_csv('titanic.csv')
#df=sns.load_dataset('titanic')

# Quick clean and standardizing data (e.g. lowercase titles)

## Lowercase column names

In [197]:
#Use one line of this for every dataframe you want to impact
df.columns= df.columns.str.lower()

## Lowercase all string values in file

In [198]:
df = df.applymap(lambda x:x.lower() if type(x) == str else x)

## Removing duplicate records

In [199]:
#Removes duplicates if entire row is the same
df.drop_duplicates(inplace=True)
#Removes rows if they are completely blank
df.dropna(how="all",axis=0, inplace=True)

# Replace missing values

## Replace missing numbers with mean

In [200]:
# This creates a list ## integers_with_nan ## which is a list of numerical columns with blanks in them.  
#The next parts will give you options for how to handle the blanks

col_list=[]
col_list=df.columns
integers_with_nan=[]
for i in col_list:
    if df[i].isnull().values.any()==True:
        if ca_df[i].dtype!='O':
            integers_with_nan.append(i)

NameError: name 'ca_df' is not defined

In [ ]:
#Fill missing numbers with the average of the column
for j in integers_with_nan:
    temp_mean=np.mean(df[j])
    df[j]=df[j].fillna(temp_mean)

# Review data

## Check data types and blanks

In [ ]:
df.info()

## Eyeball check data for issues

In [ ]:
qgrid.show_grid(df,grid_options={'forceFitColumns': False})

# Fix categorical values

## Check categorical columns for misspellings or issues

In [ ]:
# Creates a copy of the dataframe for string-based columns only.  
# Then, creates a dictionary of the column (key) plus array of values (value) to show the results

categorical_df=df.select_dtypes(object)
unique_dict={col: categorical_df[col].unique() for col in categorical_df}
unique_dict

## Fix categorical values by replacing values with new ones

### Replace a list of terms with one standard version

In [ ]:
# Create a dictionary ##a## of values to correct.  
# Outer dictionary is the column to correct
# Inner dictionary key is the correct spelling, then list (dictionary value) is the incorrect spellings to find and replace

a={
    'sex':
        {'female':['f','femal'],
        'male':['male','m']}
}


#This code will run through the dictionary a and update string values in the dataframe
#Using the new string values
for key in a.keys():
    for key2 in a[key].keys():
        list_values=a[key][key2]
        df.loc[df[str(key)].isin(list_values),key]=str(key2)

### Replace terms 1:1 with an alternative

In [ ]:
#Fill in these three with correct values, then run to update a column with new values.
original_version=['f','m']          #List in order of terms in column to change
new_version=['female','male']       #List in order of original version list of new terms to use
column_name='gender'                #Column name to use in action

replace_map=dict(zip(original_version,new_version))

df[column_name].replace(replace_map,inplace=True)